<header>
        {{> navigation}}
</header>
    <main>
        <div class="contenedor">
            <section class="cover">
                <h1>Lecturas, contenidos y tareas CSS</h1>
                <ul>
                    <li>
                        <p>Iconos, imagenes y fuentes para trabajar el CSS de tu pagina.</p>
                        <ul>
                            <li>
                                <p><a href="https://unsplash.com/">Unsplash.</a> Fotografias en alta resolucion
                                    gratuitas.</p>
                            </li>
                            <li>
                                <p><a href="https://fontawesome.com/">FontAwesome.</a> Iconos para tu pagina web.</p>
                            </li>
                            <li>
                                <p><a href="https://fonts.google.com/">Google Fonts.</a> Fuentes que puedes utilizar,
                                    previsualizacion e informacion sobre esta.</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Presentacion <a target="_blank" href="http://slides.com/nextor/webdev-8554e88f-c213-4f93-bb5b-6c74be4c7030#/">CSS
                                Basico</a>.</p>
                    </li>
                    <li>
                        <p class="Labo">LABORATORIO.</p>
                        <ul>
                            <li>
                                <a href="https://nexxtor.github.io/programacionWeb/laboratorios/03-css_basico/">Guia
                                    de laboratorio CSS Basico.</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Presentacion <a target="_blank" href="http://slides.com/nextor/webdev-3-4">CSS Intermedio</a>.</p>
                    </li>
                    <li>
                        <p class="Labo">LABORATORIO.</p>
                        <ul>
                            <li>
                                <a href="https://nexxtor.github.io/programacionWeb/laboratorios/04-css_intermedio/">Guia
                                    de laboratorio CSS Intermedio.</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p><b>TALLER:</b> Intentat imitar la siguiente pagina web. (Pensado para investigacion)</p>
                        <img src="/img/Taller1.png" width="50%" alt="Taller1">
                    </li>
                    <li>
                        <h3>DOCUMENTARSE.</h3>
                        <p><b>Unidades en CSS.</b></p>
                        <ul>
                            <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units">Valores
                                    y unidades.</a></li>
                            <li><a href="https://franciscoamk.com/unidades-de-medida-en-css/">Unidades de medida en
                                    CSS.</a></li>
                            <li><a href="https://lenguajecss.com/p/css/propiedades/unidades-css">Unidades en CSS.</a></li>
                        </ul>
                        <p><b>Libro sobre Flexbox.</b></p>
                        <ul>
                            <li>
                                <a href="http://dei.uca.edu.sv/moodle/pluginfile.php/6878/mod_resource/content/1/understanding-flexbox.pdf">Flexbox.</a>
                            </li>
                        </ul>
                        <p><b>Aprender Grid.</b></p>
                        <ul>
                            <li>
                                <a href="https://learncssgrid.com/">Grid.</a>
                            </li>
                        </ul>
                        <p><b>Posicionamiento en CSS.</b></p>
                        <ul>
                            <li>
                                <a href="https://www.w3schools.com/cssref/pr_class_position.asp">Propiedades de
                                    Posicionamiento.</a>
                            </li>
                            <li>
                                <a href="https://www.w3schools.com/css/css_positioning.asp">Layout CSS.</a>
                            </li>
                            <li>
                                <a href="https://developer.mozilla.org/es/docs/Web/CSS/position">Propiedad <i>position</i></a>
                            </li>
                            <li>
                                <a href="https://medium.com/@jacobgreenaway12/taming-the-css-beast-master-positioning-5882bad14458">Tipos
                                    de Posicionamiento.</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p class="Labo">ACTIVIDAD FINAL CSS.</p>
                        <ul>
                            <li>
                                <p>Imite la siguiente pagina web, utilizando todo lo visto e investigando funciones. <a
                                        href="https://colorlib.com/demo?theme=pemodule">Template de pagina web.</a></p>
                                <img src="/img/template.PNG" width="90%" alt="Template">
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
    </main>