<header>
    {{> navigation}}
</header>
<main>
    <div class="contenedor">
        <section class="cover">
            <h1>Lecturas, contenidos y tareas HTML</h1>
            <br>
            <ul>
                <li>
                    <p>Videos recomendados <a target="_blank"
                            href="https://www.youtube.com/watch?v=cqMfPS8jPys&list=PLhSj3UTs2_yVHt2DgHky_MzzRC58UHE4z">curso
                            basico desde 0.</a></p>
                </li>
                <li>
                    <p>Presentacion <a target="_blank" href="http://slides.com/nextor/webdev-2#/">HTML Basico</a>.</p>
                </li>
                <li>
                    <p><b>EJERCICIO:</b> Escriba una autobiografía en un documento HTML que respete los estándares
                        mencionados en <a target="_blank" href="http://slides.com/nextor/webdev-2#/">HTML Basico</a>
                        puede tomar como referencia los formatos descritos en este <a target="_blank"
                            href="https://www.template.net/business/outline-templates/sample-autobiography-outline/">enlace</a>
                    </p>
                </li>
                <li>
                    <p class="Labo">LABORATORIO.</p>
                    <ul>
                        <li>
                            <a target="_blank"
                                href="https://nexxtor.github.io/programacionWeb/laboratorios/01-html_basico/">Guia
                                de laboratorio HTML Basico.</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Presentacion <a target="_blank" href="http://slides.com/nextor/webdev-3">HTML Intermedio</a>.</p>
                </li>
                <li>
                    <p class="Labo">LABORATORIO.</p>
                    <ul>
                        <li>
                            <a target="_blank"
                                href="https://nexxtor.github.io/programacionWeb/laboratorios/02-html_intermedio/">Guia
                                de laboratorio HTML Basico.</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <p><b>EJERCICIO: </b>Utilizacion de filset.</p>
                    <img src="/img/ejerform.PNG" width="90%" alt="Ejercicio - crear formulario">
                    <p>Resultado esperado:</p>
                    <img src="/img/from.PNG" width="90%" alt="Resultado de actividad.">
                </li>
                <li>
                    <p> <a target="_blank" href="https://nexxtor.github.io/programacionWeb/ex-aula/03-HTML5/">GUIA</a>
                        para HTML5,
                        semantica</p>
                </li>

                <li>
                    <p><b>PAGINA HTML5:</b> Crear una pagina utilizando lo apendido sobre semantica en <a
                            target="_blank" href="https://nexxtor.github.io/programacionWeb/ex-aula/03-HTML5/">GUIA
                            HTML5</a>. haga la estructura de las siguientes páginas web, para ambos casos. No se
                        hara uso de CSS, por lo que no hay necesidad de que quede exactamente igual.
                        Un repositorio por página.
                        También, a la par de cada etiqueta semántica, en un comentario escribir el porque se hizo
                        uso de dicha etiqueta. (Comentarios: < !-- -->)</p>

                    <ol>
                        <li>
                            <img src="/img/TareaHTML5.png" width="90%" alt="">
                        </li>
                        <li>
                            <img src="/img/TareaHTML5_2.png" width="90%" alt="">
                        </li>
                    </ol>
                </li>
                <li>
                    <p><b>Infografías sobre contenido multimedia.</b></p>
                    <ul>
                        <li>
                            <p>Formatos de audio.</p>
                            <img src="/img/Infografía_Audio.jpg" width="50%" alt="">
                        </li>
                        <li>
                            <p>Formatos de video.</p>
                            <img src="/img/Infografía_Video.jpg" width="50%" alt="">
                        </li>
                        <li>
                            <p>Formatos de color.</p>
                            <img src="/img/Infografia_Colores.png" width="50%" alt="">
                        </li>
                        <li>
                            <p>Tipo de imagenes.</p>
                            <img src="/img/Infografia_Imagenes.png" width="50%" alt="">
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
</main>