<header>
    {{>navigation}}
</header>
<main>
    <div class="contenedor">
        <section>
            <div class="conterepo">
                <a class="repo" target="_blank" href="https://github.com/Nexxtor/programacionWeb">Repositorio
                    General -
                    Nexxtor</a>
            </div>
        </section>
    </div>
</main>
