<header>
        {{> navigation}}
</header>
<main>
        <div class="contenedor">
            <section class="cover">
                <h1>Lecturas, contenidos y tareas JavaScript</h1>
                <ul>
                    <li>
                        <p>Presentacion <a target="_blank" href="http://slides.com/nextor/webdev-5">JavaScript
                            Basico</a>.</p>
                    </li>
                    <li>
                        <h3>Lecturas recomendadas.</h3>
                        <ul>
                            <li><a target="_blank" href="https://flaviocopes.com/es-modules/">Introduccion a modulos.</a></li>
                            <li><a target="_blank" href="https://medium.freecodecamp.org/javascript-modules-a-beginner-s-guide-783f7d7a5fcc">Modulos en JavaScript.</a></li>
                            <li><a target="_blank" href="https://medium.com/computed-comparisons/commonjs-vs-amd-vs-requirejs-vs-es6-modules-2e814b114a0b">CommonJS vs AMD vs RequireJS vs ES6 Modules</a></li>
                        </ul>
                    </li>
                    <li>
                        <p class="Labo">LABORATORIO.</p>
                        <ol>
                            <li><a target="_blank" href="https://nexxtor.github.io/programacionWeb/laboratorios/05-js_basico/">Laboratorio JS Basico.</a></li>
                            <li><a target="_blank" href="https://nexxtor.github.io/programacionWeb/laboratorios/06-js_objects/">Laboratorio JS intermedio - Objetos.</a></li>
                            <li><a target="_blank" href="https://nexxtor.github.io/programacionWeb/laboratorios/07-js_DOM/">Laboratorio JS intermedio - Arbol DOM.</a></li>
                            <li><a target="_blank" href="https://nexxtor.github.io/programacionWeb/laboratorios/08-js_intermedio/">Laboratorio JS validaciones.</a></li>
                        </ol>
                    </li>
                    <li>
                        <p class="Labo">Ejercicio.</p>
                        <ul>
                            <li>Copiar los archivos que se muestran en el siguiente <a target="_blank" href="https://github.com/Nexxtor/programacionWeb/tree/master/03%20-%20JS/example%206">enlace</a> y realice los iguiente.</li>
                            <ul>
                                <li>Agregue un boton al lado de los elementos agregados a la lista para tacharlos.</li>
                                <li>Agregue un boton al lado de los elementos agregados a la lista para eliminarlos.</li>
                            </ul>
                            <li>
                                <p>Resultado:</p>
                                <img src="/img/list.PNG" width="80%" alt="Resultado esperado">
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Practicar y aprender sobre expresiones regulares.</p>
                        <ul>
                            <li><a target="_blank" href="https://regexr.com/">Practicar expresiones regulares.</a></li>
                            <li><a target="_blank" href="https://www.youtube.com/watch?v=93Ha7qd_qvo">Metodo replace.</a></li>
                            <li><a target="_blank" href="https://www.youtube.com/watch?v=c12C8Xd7ygw">Video recomendado.</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
    </main>