<header>
  {{>navigation}}
</header>
<!--
<main>
  <div class="contenedor">
    <section class="mycontent1">
      {{>errors}}
      <div class="col-md-4 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <h3>Comentario</h3>
          </div>
          <div class="card-body">
            <form action="/comment/new-comment" method="POST">
              <div class="form-group">
                <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <textarea name="comment" class="form-control" placeholder="Description"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
-->
<section class="mycontent1">
  <div class="col-md-4 mx-auto">
    <div class="card text-center">
      <div class="card-header">
        <h3>Anotaciones</h3>
      </div>
      <div class="card-body">
        <form action="/notes/new-note" method="POST">
          <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Title" autofocus />
          </div>
          <div class="form-group">
            <textarea name="description" class="form-control" placeholder="Description"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>